.car-tile {
    transition: 500ms;
    margin: 20px;
    background-color: #202021;
    border: 2px solid #383939;
    border-radius: 25px;
    height: 400px;
    width: 300px;
    padding: 10px;
    justify-content: center;
    color: white;
    box-sizing: content-box;
}

.car-tile > header {
    font-size: 58px;
    font-weight: 500;
    height: fit-content;
}

.car-tile > section {
    height: 200px;
    display: flex;
}

.car-tile > section > img {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
}

.car-tile > footer {
    display: flex;
    height: 60px;
    justify-content: right;
}

.car-tile > footer > span {
    font-size: 24px;
    font-weight: 700;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 15px;
}

.car-tile > nav {
    display: flex;
    font-size: 22px;
    justify-content: space-evenly;
}

.car-tile:hover {
    transition: 500ms;
    background-color: #383939;
    border-color: #969696;
    box-shadow: 10px 10px 10px black;
}

.car-tile-image {
    width: 280px;
}

